# VSCode
.idea/
.vscode/

# Packages
node_modules/

# Build
build/
dist/

# Temp
tmp/
temp/
.tmp/
.temp/
public/tmp
public/temp
public/.tmp
public/.temp/

# Localstorage
.localstorage/

# Logs
yarn-error.log

# Environment
.env
